/* css styles */

#headshot {
  width: 250px;
}
#gridimg {
  min-width:560px;
  max-width:640px;
  margin: 0 auto;
  text-align:center;
}
#name-header {
  font-size: 1.5em;
}

#mygrid {
  max-width:450px;
  text-align: center;
  border-style: solid;
  border-color: #132E53;
  padding-top: 1em;
}
